.trip-results-card .metro-station-card-header {
    background-color: #E4002B;
    color: #fff;
    padding: 6px 10px;
    font-weight: bold;
}

.trip-results-card .metro-station-card-title {
    font-size: 1.1em;
    color: #fff;
    flex-grow: 1;
}

.trip-results-card .train-list-header {
    padding: 12px 16px;
    font-weight: bold;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e0e0e0;
}

ion-datetime.trip-planner-datetime {
    --day-background-selected: #E4002B;
    --day-color-selected: #fff;
}
