/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
ion-header {
    padding-top: env(safe-area-inset-top);
}

:root {
    --ion-safe-area-bottom: env(safe-area-inset-bottom);
}

.submenu-item {
    padding-left: 20px;
}

.subtext {
    font-size: 10px;
    display: block;
    margin-top: -2px;
}

ion-tab-button.tab-selected {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
