.stops-display {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.stop-card {
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.stop-card .ion-card-header {
    background-color: #f4f4f4; /* Fondo neutro */
    color: #333; /* Texto oscuro */
    font-weight: bold;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.bus-cards-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.bus-card {
    margin-bottom: 8px;
}

.bus-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.badges {
    display: flex;
    gap: 8px;
}

.loading-container,
.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.ml-1 {
    margin-left: 8px;
}
